/* fonts */
/* 
    font-family: 'Cinzel', serif;
    font-family: 'PT Serif', serif;
*/
/* *, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
} */
body {
  margin: 0;
  font-family: 'PT Serif', serif;
  font-size: 1.125rem;
  color: #414141;
  line-height: 1.6;
}
header {
  text-align: center;
  max-width: 75rem;
  margin: 6rem auto;
  padding: 0 2rem;
}
h1 {
  font-family: 'Cinzel', serif;
  font-weight: 900;
  font-size: 6rem;
  line-height: 1;
  margin: 0;
}
a {
  color: #CA5E10;
}
.subtitle {
  font-size: 2.25rem;
  color: #7D7D7D;
  line-height: 1.2;
}
.container {
  width: 90%;
  max-width: 39rem;
  margin: 0 auto;
}
.lead {
  font-size: 1.3125rem;
}
