/* Custom properties */

:root {
  --spacer: 1rem;

  --clr-neutral-900: #171717;
  --clr-neutral-700: #333;
  --clr-neutral-300: #cfcfcf;
  --clr-neutral-100: #fff;
  --clr-accent-400: #59e89c;
  --clr-accent-500: #00986a;

  --ff-primary: "PT Sans", sans-serif;

  --fw-700: 700;
  --fw-400: 400;

  --fs-h1: 2.25rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.5rem;
  --fs-p: 1.125rem;

  --box-shadow: 0 0.25em 1.5em rgba(0, 0, 0, 0.15);
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Utility classes */
.flow-content > * + * {
  margin-top: var(--flow-space,var(--spacer));
}
.container {
  padding: 0 var(--spacer);
  max-width: 70rem;
  margin: 0 auto;
  color: var(--fc,var(--clr-neutral-900));  
}

.flex {
  display: flex;
  flex-direction: column;
  gap: calc(2 * var(--spacer));
}

@media (min-width: 50em) {
  .flex {
    flex-direction: row;
  }
}

.dark-bg {
  --bg: var(--clr-neutral-900);
  --fc: var(--clr-neutral-100);  
}

.fc-accent {
  color: var(--clr-accent-400);
}

.shadow {
  box-shadow: var(--box-shadow);
}

/* general styling */

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-p);
  font-weight: var(--fw-400);
  line-height: 1.6;
  color: var(--fc,var(--clr-neutral-900));
  margin: 0;
}

section {
  background-color: var(--bg,var(--clr-neutral-100));
  background-size: cover;
  padding: calc(2 * var(--spacer)) 0;
}

@media (min-width: 50em) {
  section {
    padding: 8.125rem 0;
  }
}

h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-400);
  line-height: 1.2;
}

h1 span {
  font-weight: var(--fw-700);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 700;
  font-size: 1.125rem;
  color: inherit;
  padding: 0.75em 1.5em;
  background-color: var(--clr-accent-400);
  color: var(--clr-neutral-900);
}

/* section styling */
.hero {
  --flow-space: 3rem;
}

.cta {
  --flow-space: 3rem;

  text-align: center;
  background-image: url(assets/cta-bg.jpg);
  background-size: cover;
}

.cta .container {
  max-width: 33rem;
}

/* decorations */

.join-now li {
  position: relative;
  z-index: 1;
}

.join-now li::before {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background-color: var(--clr-accent-400);
  position: absolute;
  z-index: -1;
  transform: translate(-.5rem,-.5rem);
}