/* Custom properties */

:root {
  --spacer: 1rem;

  --clr-neutral-900: #171717;
  --clr-neutral-700: #333;
  --clr-neutral-300: #cfcfcf;
  --clr-neutral-100: #fff;
  --clr-accent-400: #59e89c;
  --clr-accent-500: #00986a;

  --ff-primary: "PT Sans", sans-serif;

  --fw-700: 700;
  --fw-400: 400;

  --fs-h1: 2.25rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.5rem;
  --fs-p: 1.125rem;

  --box-shadow: 0 0.25em 1.5em rgba(0, 0, 0, 0.15);
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

section {
  background-color: var(--bg,var(--clr-neutral-100));
  background-size: cover;
}

/* Utility classes */
.flow-content > * + * {
  margin-top: 2.5rem;
}
.container {
  max-width: 70rem;
  padding: 8.125rem 0;
  margin: 0 auto;
  color: var(--fc,var(--clr-neutral-900));  
}

.container--cta {
  max-width: 33.75rem;
}

.container h2 {
  color: var(--header,var(--clr-neutral-900));
}

/* section colors */

.light-bg {
  --bg: var(--clr-neutral-100);
  --header: var(--clr-accent-900);
  --fc: var(--clr-neutral-900);
}

.dark-bg {
  --bg: var(--clr-neutral-900);
  --header: var(--clr-accent-400);
  --fc: var(--clr-neutral-100);  
}

/* general styling */

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-p);
  font-weight: var(--fw-400);
  line-height: 1.6;
  color: var(--fc,var(--clr-neutral-900));
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-400);
  line-height: 1.2;
}

h1 span {
  font-weight: var(--fw-700);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 700;
  font-size: 1.125rem;
  color: inherit;
  padding: 0.75em 1.5em;
  background-color: var(--clr-accent-400);
  color: var(--clr-neutral-900);
}

/* Hero styling */

.hero__content {
  display: flex;
}

.hero__text {
  flex: 1 1 35%;
}

.hero__picture {
  flex: 1 1 40%;
  overflow: hidden;
  padding-left: 3.5em;
}

.hero__picture img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: var(--box-shadow);
}

/* general card styling */

.cards {
  display: flex;
  padding:0;
}

.cards__card {
 list-style: none;
 flex: 1 1 25%;
}

.cards > * {
   margin-right: 1.85em;
}
.cards > *:last-child {
  margin-right: 0;
}

.cards__card img {
  max-width: 100%;
}

.card__border {
  box-shadow: -2em -2em 0 -1.5em var(--clr-accent-400);
}

/* cta styling */
.cta {
  text-align: center;
  --header: var(--clr-neutral-100);
  background-image: url(assets/cta-bg.jpg);
  background-size: cover;
}