:root {
  --clr-base-400: #5e5e5e;
  --clr-base-500: #494949;

  --clr-accent-400: #7e47c5;

  --clr-ui-300: #f8e2ff;
  --clr-ui-400: #580d3a;
  --clr-ux-300: #e2ffea;
  --clr-ux-400: #115926;
  --clr-dev-300: #e2fcff;
  --clr-dev-400: #024f4f;

  --ff-accent: "Podkova", serif;
  --ff-base: "Open Sans", sans-serif;

  --fw-400: 400;
  --fw-700: 700;

  --fs-300: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 2rem;

  --shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
  --border-radius: 0.75rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-base);
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  line-height: 1.6;
  color: var(--clr-base-500);
}

h1, h2, h3, h4 {
  font-family: var(--ff-accent);
}

.candidate .name, .candidate .bio, .candidate .roles {
  margin: 0;
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5em 3em;
  color:var(--btn-clr);
  background: var(--btn-bg);
  border-radius: var(--border-radius);
}

.candidate {
  --btn-clr: white;
  --btn-bg: var(--clr-accent-400);

  padding: 1em;
  box-shadow: var(--shadow);
}

.candidate h2 {
  font-size: var(--fs-500);
  font-weight: var(--fw-700);
  line-height: 1;
}

.candidate .btn {
  align-self: end;
  justify-self: end;
}

.candidate img {
  border-radius: var(--border-radius);
}

.candidate .bio {
  margin: 0;
}

.candidate .social {
  list-style: none;
  display: flex;
  padding: 0;
  margin-bottom: 0;
  justify-content: space-evenly;
}

.candidate .roles {
  font-size: var(--fs-300);
  line-height: 1;
  padding: 0;
}

.candidate .role {
  display: inline-block;
  font-weight: var(--fw-700);
  color: var(--role-clr,white);
  background: var(--role-bg,var(--clr-accent-400));
  border-radius: var(--border-radius);
  padding: 0.15em 0.75em;
  margin-right: 0.5em;
}

.ui {
  --role-clr: var(--clr-ui-400);
  --role-bg: var(--clr-ui-300);
}

.ux {
  --role-clr: var(--clr-ux-400);
  --role-bg: var(--clr-ux-300);
}

.dev {
  --role-clr: var(--clr-dev-400);
  --role-bg: var(--clr-dev-300);
}

















/* /////////////////
   Layout related
   no need to touch any of this
//////////////////*/

.candidates {
  max-width: 70em;
  margin: 0 auto;
  padding: 2em;
  display: grid;
  gap: 2em;
}

.candidate {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-areas:
    "img social"
    "name name"
    "role role"
    "bio bio"
    "button button";
  gap: 0.5em;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
}

@media (min-width: 500px) {
  .candidate {
    grid-template-columns: min-content minmax(15rem, 22.5rem);
    grid-template-areas:
      "img name"
      "img role"
      "img bio"
      "social button";
  }
}

@media (min-width: 960px) {
  .candidates {
    grid-template-columns: repeat(2, 1fr);
  }
}

.candidate img {
  grid-area: img;
}
.candidate .name {
  grid-area: name;
}
.candidate .roles {
  grid-area: role;
}
.candidate .bio {
  grid-area: bio;
}
.candidate .social {
  grid-area: social;
}
.candidate .btn {
  grid-area: button;
}
