:root {
  --clr-primary-400:#00a1ab;
  --clr-primary-500:#3741a0;

  --clr-neutral-400:#4E4E4E;
  --clr-neutral-300:#E5E3E8;
  --clr-neutral-200:#FAFAFA;
  --clr-neutral-100:#FFFFFF;


}

/* ///////////////
  Reset
  ////////////// */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ///////////////
  General styling
  ////////////// */

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 3em;
  padding-top: 1em;
  margin-bottom: 0;
  color: #00a1ab;
}

.fs-500 {
  font-size: 1.3125rem;
  margin: 0;
}

.container {
  padding: 0 2em;
  margin: 0 auto;
  max-width: 75rem;
  background: var(--clr-neutral-200);
}

.bg-light {
  --fg: var(--clr-neutral-400);
  --bg: var(--clr-neutral-200);
  --txt: var(--clr-primary-400);

  color: var(--clr-neutral-400);
  background: linear-gradient(-45deg, var(--clr-neutral-300), var(--clr-neutral-200));
}

.bg-accent {
  --bg: var(--clr-neutral-400);
  --fg: var(--clr-neutral-100);
  --txt: var(--clr-neutral-100);

  color: var(--clr-neutral-100);
  background: linear-gradient(-45deg, var(--clr-primary-400), var(--clr-primary-500));
}

.bg-dark {
  color: var(--clr-neutral-100);
  background: var(--clr-neutral-400);
  --txt: var(--clr-neutral-100);
}

/* ///////////////
  Buttons
  ////////////// */

.button {
  display: inline-block;
  margin-top: 0.6em;
  text-decoration: none;
  padding: 0.5em 0.75em;
  border-radius: 0.25em;
  text-transform: uppercase;
  font-weight: 700;
  background: var(--fg,var(--clr-primary-400));
  color: var(--bg,var(--clr-neutral-100));
}

/* ///////////////
  Teams
  ////////////// */

.team-members {
  display: flex;
  flex-wrap: wrap;
}

.team-member {
  
  flex: 1 1 45%;
  margin: 1em;
  display: flex;
  border-radius: 0.5em;
  align-items: center;
}

.team-member .name {
  color: var(--txt);
  font-size: 1.75rem;
  font-weight: 900;
  margin: 0;
}

.team-member .position {
  opacity: 0.8;
  font-size: 0.875rem;
  font-weight: 700;
  margin-top: 0;
}

.team-member img {
  width: 10rem;
  border-radius: 0.25em;
}

.team-member--left {
  text-align: left;
  padding: 0.5em 2em 0.5em 0.5em;
}

.team-member--left img {
  margin-right: 1em;
}

.team-member--right {
  text-align: right;
  padding: 0.5em 0.5em 0.5em 2em;
}

.team-member--right img {
  order: 2;
  margin-left: 1em;
}

/* ///////////////
  Plans
  ////////////// */

.plans {
  display: flex;
  justify-content: center;
  margin: 2em auto;
  max-width: 50rem;
}

.plan {
  flex: 1 1 20%;
  padding: 2em;
  border-radius: 1em;
  margin: 0;
}

.plan--side {
  margin: 2em 0;
}

.plan--right {
  border-radius: 0 1em 1em 0;
}
.plan--left {
  border-radius: 1em 0 0 1em;
}

.plan__title {
  text-transform: uppercase;
  margin: 0 0 1em;
}

.plan__price {
  color: var(--txt);
  font-size: 3rem;
  line-height: 1;
  font-weight: 900;
  margin: 0;
}

.plan__price span {
  display: block;
  font-size: 1.5625rem;
  font-weight: 300;
}

.plan__description {
  margin: 2em 0;
  line-height: 1.5;
}
